body {
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 10%;
    border: 1px solid #99582a
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #06D6A0;
    color: #2b2839;
    border: 6px solid #0077B6;
    box-shadow: 5px 5px 10px #000000;
}

.font-cursive {
    font-family: Brush Script MT, cursive;
}
